### Import modules

In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

### Load dataset

In [2]:
# searching files
all_files = os.listdir('dataset')

In [3]:
# combining info from all files into one dataframe
data = None

for f in all_files:
    data_f = pd.read_csv(f'dataset/{f}', sep=';')
    
    if data is None:
        data = data_f.copy()
        continue
    
    data = data.append(data_f, ignore_index=True)

### Data understanding

In [4]:
# checking first 5 rows
data.head()

,ДатаЧека,НомерЧека,ВидОперации,АЗСКод,ВидНоменклатуры,Карта,ОсновнаяКарта,НомерСтроки,НоменклатураКод,Количество,Цена,Сумма,Бонусы,СуммаСкидки,УниверсальнаяАкцияКод,СписаноБонусов,СуммаСкидкиДисконт,КассоваяСмена,ОператорКод,Unnamed: 19
0,16.12.2019 00:09:30,26171000011408,Начисление,2617,Нефтепродукты,F9CF1DC89C51CEC7AADC699E41D3B5FA,NaN,1,145236,"10,35","28,99",300,1 552,"0,05",NaN,0,0,af656c5c-1f86-11ea-931b-00012eb1adb5,Федів Ірина Василівна,NaN
1,16.12.2019 00:09:34,37151000009864,Начисление,3715,Сопутка,47A4505237411EDFCF7FB7352D871839,NaN,1,136788,2,37,74,74,0,NaN,0,0,1b2cac5c-1f87-11ea-b05b-00012eb1a3ee,Буднік Олексій Геннадійович,NaN
2,16.12.2019 00:11:14,35081000014146,Начисление,3508,Сопутка,7BE05F497977C0DE8903D25EBC664D3A,NaN,1,210952,1,48,48,0,0,NaN,0,0,a2937477-1f86-11ea-9b3a-00012eb19bcf,Турусова Анастасія Володимирівна,NaN
3,16.12.2019 00:11:14,35081000014146,Начисление,3508,Сопутка,7BE05F497977C0DE8903D25EBC664D3A,NaN,2,232064,1,26,26,0,0,NaN,0,0,a2937477-1f86-11ea-9b3a-00012eb19bcf,Турусова Анастасія Володимирівна,NaN
4,16.12.2019 00:11:14,35081000014146,Начисление,3508,Сопутка,7BE05F497977C0DE8903D25EBC664D3A,NaN,3,232075,1,28,28,0,0,NaN,0,0,a2937477-1f86-11ea-9b3a-00012eb19bcf,Турусова Анастасія Володимирівна,NaN

In [5]:
# info about dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91903 entries, 0 to 91902
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ДатаЧека               91903 non-null  object
 1   НомерЧека              91903 non-null  int64
 2   ВидОперации            91903 non-null  object
 3   АЗСКод                 91903 non-null  int64
 4   ВидНоменклатуры        91903 non-null  object
 5   Карта                  91901 non-null  object
 6   ОсновнаяКарта          127 non-null    object
 7   НомерСтроки            91903 non-null  int64
 8   НоменклатураКод        91903 non-null  int64
 9   Количество             91903 non-null  object
 10  Цена                   91903 non-null  object
 11  Сумма                  91903 non-null  object
 12  Бонусы                 91903 non-null  object
 13  СуммаСкидки            91903 non-null  object
 14  УниверсальнаяАкцияКод  11445 non-null  float64
 15  СписаноБонусов         91903 non-null  object
 16  СуммаСкидкиДисконт     91903 non-null  int64
 17  КассоваяСмена          91903 non-null  object
 18  ОператорКод            91873 non-null  object
 19  Unnamed: 19            0 non-null      float64
dtypes: float64(2), int64(5), object(13)
memory usage: 14.0+ MB

In [ ]:
# adding labels

In [6]:
data['label'] = 0

In [7]:
labels = pd.read_csv('other_data/card_69.csv').values

In [8]:
for i in labels:
    data.loc[data['Карта'] == i[0], 'label'] = 1

In [9]:
fraud_list = []
for i in labels:
    fraud_list.append(i[0])

In [ ]:
# card data

In [ ]:
# card_data = data.groupby('Карта').count()

In [ ]:
# card_data = card_data.rename(columns={'ДатаЧека':'operations_per_30days'})

In [ ]:
# card_data['is_fraud'] = 0

In [ ]:
# card_data = card_data[['operations_per_30days', 'is_fraud']]

In [ ]:
# for i, row in card_data.iterrows():
#     if i in fraud_list:
#         row['is_fraud'] = 1

In [10]:
# converting string values to float
data['Количество'] = data['Количество'].apply(lambda x:float(x.replace('\xa0', '').replace(',', '.')))
data['Цена'] = data['Цена'].apply(lambda x:float(x.replace('\xa0', '').replace(',', '.')))
data['Сумма'] = data['Сумма'].apply(lambda x:float(x.replace('\xa0', '').replace(',', '.')))
data['Бонусы'] = data['Бонусы'].apply(lambda x:float(x.replace('\xa0', '').replace(',', '.')))
data['СуммаСкидки'] = data['СуммаСкидки'].apply(lambda x:float(x.replace('\xa0', '').replace(',', '.')))
data['СписаноБонусов'] = data['СписаноБонусов'].apply(lambda x:float(x.replace('\xa0', '').replace(',', '.')))

### Preparing and filtering data

In [11]:
# filtering rows
data = data[data['ВидОперации']!='Начисление возврат']
data = data[data['ВидОперации']!='Начисление оплата возврат']

In [12]:
# filtering rows
data = data[data['ВидНоменклатуры']=='Нефтепродукты']

# removing the column
# data = data.drop('ВидНоменклатуры', axis=1)

In [13]:
# remove other discounts
data['УниверсальнаяАкцияКод'] = data['УниверсальнаяАкцияКод'].fillna(0)
data = data[data['УниверсальнаяАкцияКод'] < 300]

In [14]:
# remove cards with more than 1 station
many_st = []
for i in set(data['Карта'].values):
    if len(set(data.loc[data['Карта']==i]['АЗСКод'].values)) > 1: 
        many_st.append(i)
        
for j in many_st:
    data = data[data['Карта'] != j]

In [16]:
# remove cards with less than 5 operations
card_data_lines = data.groupby('Карта').count()
delete_list = card_data_lines[card_data_lines['ДатаЧека']<5].index
for i in delete_list:
    data = data[data['Карта'] != i]

In [ ]:
# leave only date withou time
data['ДатаЧека'] = data['ДатаЧека'].apply(lambda x: x.split(' ')[0])

In [ ]:
#TODO:
# date ?
# operators

In [19]:
card_data = data.groupby('Карта').count()

In [21]:
card_data

,ДатаЧека,НомерЧека,ВидОперации,АЗСКод,ВидНоменклатуры,ОсновнаяКарта,НомерСтроки,НоменклатураКод,Количество,Цена,Сумма,Бонусы,СуммаСкидки,УниверсальнаяАкцияКод,СписаноБонусов,СуммаСкидкиДисконт,КассоваяСмена,ОператорКод,Unnamed: 19,label
Карта,,,,,,,,,,,,,,,,,,,,
002043206DC69131FC6444B0880F2D07,6,6,6,6,6,0,6,6,6,6,6,6,6,6,6,6,6,6,0,6
0049F1FFC58BD9977F50E56C71D5536B,12,12,12,12,12,0,12,12,12,12,12,12,12,12,12,12,12,12,0,12
005595BFFC7222DBB557E59A3872E56D,7,7,7,7,7,0,7,7,7,7,7,7,7,7,7,7,7,7,0,7
00DC9FCD81231002E2015CF04A2B01C2,11,11,11,11,11,0,11,11,11,11,11,11,11,11,11,11,11,11,0,11
00EB869662094C3C148EAEB8672D2BB7,8,8,8,8,8,0,8,8,8,8,8,8,8,8,8,8,8,8,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FF88E8952CBA6FF330B9DF3F6CA6F2DA,5,5,5,5,5,0,5,5,5,5,5,5,5,5,5,5,5,5,0,5
FFB1A367E4B62FB268767E712E404986,5,5,5,5,5,0,5,5,5,5,5,5,5,5,5,5,5,5,0,5
FFD689128D88650F6820A54E3604DD09,5,5,5,5,5,0,5,5,5,5,5,5,5,5,5,5,5,5,0,5
FFD8567FF1048ABD2B486C2D08FE3B34,9,9,9,9,9,0,9,9,9,9,9,9,9,9,9,9,9,9,0,9
FFDDE5951E14CA31FA92F14FDF88CFB1,8,8,8,8,8,0,8,8,8,8,8,8,8,8,8,8,8,8,0,8

In [29]:
card_data = pd.DataFrame(card_data['ДатаЧека'])

In [34]:
card_data

                                  ДатаЧека  АЗСКод
Карта
002043206DC69131FC6444B0880F2D07         6       0
0049F1FFC58BD9977F50E56C71D5536B        12       1
005595BFFC7222DBB557E59A3872E56D         7       2
00DC9FCD81231002E2015CF04A2B01C2        11       3
00EB869662094C3C148EAEB8672D2BB7         8       0
...                                    ...     ...
FF88E8952CBA6FF330B9DF3F6CA6F2DA         5       2
FFB1A367E4B62FB268767E712E404986         5       3
FFD689128D88650F6820A54E3604DD09         5       7
FFD8567FF1048ABD2B486C2D08FE3B34         9       7
FFDDE5951E14CA31FA92F14FDF88CFB1         8       1

[1920 rows x 2 columns]

In [ ]:
# gas list

In [31]:
gas_st_list = list(data.groupby('Карта').mean()['АЗСКод'].astype(int).unique())

In [33]:
card_data = pd.concat([card_data, data.groupby('Карта').mean()['АЗСКод'].apply(lambda x:gas_st_list.index(x))], axis=1)

In [ ]:
# operations per day

In [35]:
mean_list = []
for i in list(data.groupby('Карта').count().index):
    mean_oper = np.mean(list(data[data['Карта'] == i].groupby('ДатаЧека').count()['ВидОперации']))
    mean_list.append(round(mean_oper, 2))

In [36]:
card_data['operations_per_day'] = mean_list

In [ ]:
# special_discounts

In [37]:
list_3 = []
list_224 = []
for i in list(data.groupby('Карта').count().index):
    data_list = list(data[data['Карта'] == i]['УниверсальнаяАкцияКод'])
    list_3.append(data_list.count(3.0))
    list_224.append(data_list.count(224.0))

In [38]:
card_data['special_discount_3'] = list_3
card_data['special_discount_224'] = list_224

In [ ]:
# bonuses

In [39]:
card_data = pd.concat([card_data, data.groupby('Карта').mean()[['Сумма', 'Бонусы', 'СуммаСкидки', 'СписаноБонусов']].apply(lambda x: round(x, 2))], axis=1)

In [ ]:
# ВидОперации, ОператорКод

In [81]:
card_data[card_data['is_fraud_2'] == 1]

Empty DataFrame
Columns: [ДатаЧека, АЗСКод, operations_per_day, special_discount_3, special_discount_224, Сумма, Бонусы, СуммаСкидки, СписаноБонусов, is_fraud, is_fraud_2]
Index: []

In [76]:
card_data['is_fraud_2'] = 0

In [79]:
for i, row in card_data.iterrows():
    if i in fraud_list:
        row['is_fraud_2'] = 1

In [ ]:
data

In [ ]:
sum(list(data[data['Карта'] == 'F9CF1DC89C51CEC7AADC699E41D3B5FA'].groupby('ДатаЧека').count()['ВидОперации']))

In [ ]:
np.mean(list(data[data['Карта'] == 'D85BD7BDD888729BA02B98F56DD71B28'].groupby('ДатаЧека').count()['ВидОперации']))

In [ ]:
data

In [ ]:
data[data['Карта'] == 'F9CF1DC89C51CEC7AADC699E41D3B5FA'].iloc[0]['ДатаЧека'].split(' ')[0]

In [ ]:
fraud_list = []
for i in labels:
    fraud_list.append(i[0])

In [ ]:
len(fraud_list)

In [ ]:
l_0 = []
l_1 = []

In [ ]:
for i in list(data.groupby('Карта').count().index):
    oper_len = np.mean(list(data[data['Карта'] == i].groupby('ДатаЧека').count()['ВидОперации']))
    print(oper_len)
    break

In [ ]:
len(l_0)

In [ ]:
print(np.mean(l_0))
print(np.median(l_0))
print(stats.mode(l_0))

In [ ]:
print(np.mean(l_1))
print(np.median(l_1))
print(stats.mode(l_1))

In [ ]:
len(l_1)

In [ ]:
data.loc[data['Карта'] == '002043206DC69131FC6444B0880F2D07'].groupby('ОператорКод').count()

In [ ]:
for i in labels:
    print(i)
    data.loc[data['Карта'] == i[0]].groupby('ОператорКод').count()
    break

In [ ]:
data.loc[data['Карта'] == 'E1627DA6992F9BD6D6F10EF15B3930F6'].groupby('ОператорКод').count()

In [ ]:
data.loc[data['label']==1].groupby('Карта').count()

In [ ]:
data.loc[data['label']==1].groupby('АЗСКод').count()

In [ ]:
data.loc[data['label']==1].loc[data['Карта']=='00DC9FCD81231002E2015CF04A2B01C2']

In [ ]:
labels[1][0]

In [ ]:
for i in labels:
    x = data.loc[data['Карта']==i[0]]['АЗСКод'].values
    print(x)
    break

In [ ]:
xx = data.loc[data['label']!=1]['Карта'].values

In [ ]:
many_st = []
for i in set(data['Карта'].values):
    if len(set(data.loc[data['Карта']==i]['АЗСКод'].values)) > 1: 
        many_st.append(i)

In [ ]:
many_st = []

In [ ]:
len(many_st)

In [ ]:
yy = data.loc[data['label']==1]['Карта'].values

In [ ]:
for i in set(yy):
    x = data.loc[data['Карта']==i]['АЗСКод'].values
    if len(set(x)) == 1: 
        sfsdf.append(i)

In [ ]:
len(sfsdf)

In [ ]:
data[data['УниверсальнаяАкцияКод']==224.0].loc[data['label']==1]

In [ ]:
data['УниверсальнаяАкцияКод'] = data['УниверсальнаяАкцияКод'].fillna(0)

In [ ]:
data['УниверсальнаяАкцияКод']

In [ ]:
card_data = data.groupby('Карта').count()

In [ ]:
card_data = card_data[card_data['ДатаЧека']<5]

In [ ]:
card_list = list(card_data[card_data['ДатаЧека']>10].index)
counter = 0
for i in labels:
    if i[0] in card_list:
        counter += 1
print(counter)

In [ ]:
delete_list = card_data[card_data['ДатаЧека']<5].index

In [ ]:
for i in delete_list:
    data = data[data['Карта'] != i]

In [ ]:
len(data)

In [ ]:
data.loc[data['label']==1].groupby('УниверсальнаяАкцияКод').count()

In [ ]:
data.loc[data['label']!=1].groupby('УниверсальнаяАкцияКод').count()

In [ ]:
data = data[data['УниверсальнаяАкцияКод'] < 300]

In [ ]:
data[data['УниверсальнаяАкцияКод'] < 300].groupby('Карта').count()

In [ ]:
data

In [ ]:
# remove column
# data = data.drop('ДатаЧека', axis=1)

In [ ]:
data = data.drop('НомерЧека', axis=1)
data = data.drop('ОсновнаяКарта', axis=1)
data = data.drop('НомерСтроки', axis=1)
data = data.drop('НоменклатураКод', axis=1)

In [ ]:
# filtering rows
data = data[data['ВидНоменклатуры']=='Нефтепродукты']

# removing the column
data = data.drop('ВидНоменклатуры', axis=1)

##### "ВидОперации"

In [ ]:
# filtering rows
data = data[data['ВидОперации']!='Начисление возврат']
data = data[data['ВидОперации']!='Начисление оплата возврат']

In [ ]:
# normalize data for learning

# making list with names
# list_names = list(data['ВидОперации'].unique())

# replacing string with [0,1]
# data['ВидОперации'] = data['ВидОперации'].apply(lambda x:list_names.index(x))

# removing the column
data = data.drop('ВидОперации', axis=1)

In [ ]:
data.groupby('АЗСКод').count()

In [ ]:
data.loc[data['label']==1].groupby('АЗСКод').count()

##### "АЗСКод"

In [ ]:
# checking unique values
list(data['АЗСКод'].unique())

In [ ]:
# normalize data for learning

# making list with names
list_stations = list(data['АЗСКод'].unique())

# replacing string with [0,1,..]
data['АЗСКод'] = data['АЗСКод'].apply(lambda x:list_stations.index(x))

##### "ВидНоменклатуры"

Most fraud cases happen with Gas purchasing, so we will leave only 'Нефтепродукты' rows and remove the entire column

In [ ]:
# filtering rows
data = data[data['ВидНоменклатуры']=='Нефтепродукты']

# removing the column
# data = data.drop('ВидНоменклатуры', axis=1)

##### "Карта"

In [ ]:
# checking quantity of unique cards 
data['Карта'].describe()

Only 20259 cards used among 47384 operations, this means that some cards were used several times.

Obviously a card number doesn't provide model with any useful information, we will replace the values with numbers of usage frequency for the card.

In [ ]:
# grouping by cards
count_card = data.groupby('Карта').count()

#### *bonus

Checking the most frequently used card

In [ ]:
# filter card with more than 100 operations
count_card[count_card['ВидОперации']>=100]

In [ ]:
# showing operations with this card only
card_data = data[data['Карта']=='3A68C9A32E07603A1D5EA7CE1A800EB6']

# grouping by operations quantity per operator 
card_data.groupby('ОператорКод').count()

In [ ]:
# visualizing result
pie_gr = card_data.groupby('ОператорКод').count()
plt.pie(pie_gr['ВидОперации'], labels=pie_gr.index, autopct=lambda pct: int(119*pct/100))
plt.show()

As we can see only one operator "Фера Радміла Іванівна" has done 101 operations with the same card

In [ ]:
# replacing the values with numbers of usage frequency
data['Карта'] = data['Карта'].apply(lambda x:count_card.loc[x]['ВидОперации'])

In [ ]:
data = data.drop('ОсновнаяКарта', axis=1)

##### "НомерСтроки"

We will drop this info as it's not important for the model

In [ ]:
data = data.drop('НомерСтроки', axis=1)

##### "НоменклатураКод"

We will drop this column as we know that there are only gas products

In [ ]:
data = data.drop('НоменклатураКод', axis=1)

##### "Количество", "Цена", "Сумма", "Бонусы", "СуммаСкидки"

These columns we will leave unchanged, just need to convert string into float number

In [ ]:
# converting string values to float
data['Количество'] = data['Количество'].apply(lambda x:float(x.replace('\xa0', '').replace(',', '.')))
data['Цена'] = data['Цена'].apply(lambda x:float(x.replace('\xa0', '').replace(',', '.')))
data['Сумма'] = data['Сумма'].apply(lambda x:float(x.replace('\xa0', '').replace(',', '.')))
data['Бонусы'] = data['Бонусы'].apply(lambda x:float(x.replace('\xa0', '').replace(',', '.')))
data['СуммаСкидки'] = data['СуммаСкидки'].apply(lambda x:float(x.replace('\xa0', '').replace(',', '.')))

##### "УниверсальнаяАкцияКод"

In [ ]:
# checking unique values
list(data['УниверсальнаяАкцияКод'].unique())

In [ ]:
# replace NaN values
data['УниверсальнаяАкцияКод'] = data['УниверсальнаяАкцияКод'].fillna(0)

In [ ]:
# normalize data for learning

# making list with names
list_disc_types = list(data['УниверсальнаяАкцияКод'].unique())

# replacing string with [0,1,..]
data['УниверсальнаяАкцияКод'] = data['УниверсальнаяАкцияКод'].apply(lambda x:list_disc_types.index(x))

##### "СписаноБонусов"

We will leave this unchanged

In [ ]:
# converting unicode string to integer
data['СписаноБонусов'] = data['СписаноБонусов'].apply(lambda x:int(x.replace('\xa0', '')))

##### "СуммаСкидкиДисконт"

In [ ]:
# checking for unique values
data['СуммаСкидкиДисконт'].unique()

This column has only 0 values, we will drop it

In [ ]:
data = data.drop('СуммаСкидкиДисконт', axis=1)

##### "КассоваяСмена"

This values will not help model, let's drop it

In [ ]:
data = data.drop('КассоваяСмена', axis=1)

##### "ОператорКод"

In [ ]:
# checking for unique values
data['ОператорКод'].unique()

In [ ]:
# normalize data for learning

# making list with names
list_operators = list(data['ОператорКод'].unique())

# replacing string with [0,1,..]
data['ОператорКод'] = data['ОператорКод'].apply(lambda x:list_operators.index(x))

Also dropping the last useless column 'Unnamed: 19'

In [ ]:
data = data.drop('Unnamed: 19', axis=1)

##### Normalized dataset for learning model

In [ ]:
data.head(10)

### Training model

In [ ]:
# importing IsolationForest Algorithm
from sklearn.ensemble import IsolationForest

In [ ]:
# creating model
clf = IsolationForest(random_state=0)

In [ ]:
# fit model
clf.fit(data.values)

### Predicting and analyzing result

In [ ]:
# making prediction on the dataset
prediction = clf.predict(data.values)

In [ ]:
# replace 1 for inliers, -1 for outliers with 0 for inliers and 1 for outliers
anomaly = np.where(prediction==-1, 1, 0)

In [ ]:
# adding column to data frame
data['Anomaly'] = anomaly

In [ ]:
# showing result
data.head(10)

In [ ]:
# filter data only for anomaly operations
anomaly_data = data[data['Anomaly']==1]

In [ ]:
# sorting by operator with the highest anomaly operations
anomaly_sorted = anomaly_data.groupby('ОператорКод').count().sort_values('Anomaly', ascending=False)

In [ ]:
# visualizing result
plt.scatter(anomaly_sorted.index, anomaly_sorted['Anomaly'])
plt.plot([0,60], [230,230], color='red')
plt.show()

We can clearly see that in most cases anomaly frequency is below 230, only few are more than that

Let's filter only those operators who are above the line

In [ ]:
# sort only for the highest frequency
anomaly_sorted = anomaly_sorted[anomaly_sorted['Anomaly']>230]
anomaly_sorted

In [ ]:
# getting list of operators names
names = []
for name_index in list(anomaly_sorted.index):
    names.append(list_operators[name_index])

In [ ]:
# getting list of anomaly quantity
cases = list(anomaly_sorted['Anomaly'].values)

In [ ]:
# making dataframe
anomaly_list = pd.DataFrame(data={'Operator':names, 'Anomaly operations':cases})

#### Result

In [ ]:
# showing dataframe
anomaly_list

In [ ]:
labels = pd.read_csv('other_data/card_69.csv').values

In [ ]:
'294408237E2B9930B593D42E92C500DA' in labels

In [ ]:
labels

In [ ]:
for i, row in data

In [ ]:
test_data = card_data.drop('is_fraud', axis=1)

In [ ]:
test_data.values

In [ ]:
clf.fit(test_data.values)

In [ ]:
prediction = clf.predict(test_data.values)

In [ ]:
anomaly = np.where(prediction==-1, 1, 0)

In [ ]:
test_pred = pd.DataFrame(card_data['is_fraud'])

In [ ]:
test_pred['predicted'] = anomaly

In [ ]:
x = test_pred[test_pred['is_fraud'] == test_pred['predicted']]

In [ ]:
len(x[x['is_fraud'] == 1])

In [ ]:
card_data = card_data[:1946]

In [ ]:
test_pred

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
kmeans = KMeans(n_clusters=2, random_state=0).fit(test_data.values)

In [ ]:
y = list(kmeans.predict(test_data.values))

In [ ]:
y.count(0)

In [ ]:
test_pred['predicted'] = y

In [ ]:
# machine learning
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix