In [ ]:
import pandas as pd
import numpy
import tensorflow as tf

In [2]:
train = pd.read_csv('train.csv')

In [3]:
train

,Карта,operations_per_day,special_discount_3,special_discount_224,Сумма,Бонусы,СуммаСкидки,СписаноБонусов,is_fraud
0,002043206DC69131FC6444B0880F2D07,1.00,0,0,800.00,5372.00,83.46,8345.00,0
1,0049F1FFC58BD9977F50E56C71D5536B,1.50,0,0,259.69,965.17,0.04,0.00,0
2,005595BFFC7222DBB557E59A3872E56D,1.71,7,0,326.86,2463.14,25.27,1630.57,0
3,00DC9FCD81231002E2015CF04A2B01C2,1.00,11,0,790.27,5300.55,83.30,5490.00,1
4,00EB869662094C3C148EAEB8672D2BB7,1.75,7,0,510.04,3717.62,18.70,0.00,0
...,...,...,...,...,...,...,...,...,...
1915,FF88E8952CBA6FF330B9DF3F6CA6F2DA,1.00,0,0,352.13,1306.40,0.03,0.00,0
1916,FFB1A367E4B62FB268767E712E404986,1.60,5,0,853.26,0.00,98.42,0.00,0
1917,FFD689128D88650F6820A54E3604DD09,1.60,0,0,305.22,1543.40,64.25,6426.40,0
1918,FFD8567FF1048ABD2B486C2D08FE3B34,1.78,0,0,400.09,2093.44,59.58,5957.67,0
1919,FFDDE5951E14CA31FA92F14FDF88CFB1,1.00,0,0,251.79,1054.62,0.14,14.38,0

In [5]:
test = pd.read_csv('test.csv')

In [6]:
test

,Карта,operations_per_day,special_discount_3,special_discount_224,Сумма,Бонусы,СуммаСкидки,СписаноБонусов
0,0357098A9B4792A725030975FF992E46,1.56,0,0,369.39,4099.89,87.06,8709.89
1,03A32DA0336671361C853C10B69E95AF,1.00,0,1,256.64,1631.53,0.10,0.00
2,07D3E77CD24DA3154BA219D09BF93B4B,1.80,0,0,114.41,256.02,2.90,287.66
3,0847BF2B4784F83823D515D04C6D9639,1.00,0,0,200.02,1518.17,0.01,0.00
4,0B1FF492733C3A08D34DE0D7424A2549,1.93,0,0,92.98,92.74,0.03,0.00
...,...,...,...,...,...,...,...,...
96,E762D39C0AD2B8E8F25FCF4652E65689,1.91,0,0,373.19,3739.77,28.85,2884.23
97,EAA77BE5D715CF896BEB26C0674F7024,1.65,0,0,186.18,976.22,0.01,0.00
98,EBF4E943181ADB99FEB3A30A7101562B,2.25,20,0,181.61,350.00,33.66,0.00
99,F125B1B2BBF74755ACA2537AAA209E7C,2.21,0,0,137.10,451.05,0.04,0.00
100,F5D40EB63F272F3425457352C9168C9F,1.00,0,0,530.06,5102.43,40.53,4049.50

In [14]:
val_1 = train[train['is_fraud'] == 1][0:10]

In [15]:
val_2 = train[train['is_fraud'] != 1][100:120]

In [17]:
train_2 = train[train['is_fraud'] != 1][0:100]

In [18]:
train_1 = train[train['is_fraud'] == 1][10:]

In [22]:
val = val_1.append(val_2)

In [23]:
train = train_1.append(train_2)

In [24]:
len(val)

30

In [25]:
len(train)

156

In [26]:
len(test)

101

In [30]:
val = val.sample(frac=1).reset_index(drop=True)

In [33]:
val = val.drop('Карта', axis = 1)

In [34]:
train = train.sample(frac=1).reset_index(drop=True)

In [35]:
train = train.drop('Карта', axis = 1)